.column {
  background-color: #5aa3e4;
  padding: 18px;
}
.card-style {
  height: 120px;
  margin: 10px;
  font-weight: lighter;
  border-radius: 15px;
  overflow: hidden;
  margin: 0px !important;
  margin-right: 10px !important;
  /* background-color: #98FB98; */
}
.card-one {
  background-color: #e6e6fa;
}
.card-two {
  background-color: #f0ffff;
}
.card-three {
  background-color: #fff8dc;
}
.card-four {
  background-color: #cafed0;
  margin-right: 0px !important;
  margin-left: 10px !important;
}
.title {
  align-self: center;
}
.icons {
  font-size: 20px;
}
.inr-symbol {
  align-self: flex-end;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}
.span {
  font-size: 16px;
}

.order-paymet-title {
  padding: 10px;
}
.nav-button {
  cursor: pointer;
  /* color: #5aa3e4; */
}

.custom-table-row .editable-row {
  padding: 10px !important;
  max-height: 15px;
}

.ant-table-cell {
  padding: 0px;
}

/* Remove padding from table header cells */
.custom-table-row .ant-table th {
  padding: 8px !important; /* Removes padding from table header cells */
}

/* Remove padding from table data cells */
.custom-table-row .ant-table td {
  padding: 2px !important;
  max-height: 125px !important; /* Removes padding from table data cells */
}

.custom-input {
  padding: 0px;
  border: 0.2px;
  border-radius: 2px;
  /* background-color: #E6E6FA; */
  border-color: #cafed0;
  padding-left: 2px;
  padding-right: 2px;
}

.custom-table-row .ant-form-item {
  margin-bottom: 0 !important; /* Remove bottom margin from Form.Item div */
}

.custom-btn {
  border-color: cadetblue;
  color: #36f136;
}
